{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "current",
          "browsers": [
            "> 1%",
            "last 2 versions",
            "not ie <= 11"
          ]
        }
      }
    ]
  ],
  "comments": false
}
